<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/dacf88b734.js" crossorigin="anonymous"></script>
	<style>
		.formopen{
			padding: 18px;
		}
		.showform{
			margin-top: 15px;
		}
		.rem{
			margin-left: 15px;
		}
		.card{
			box-shadow: 4px 8px 14px 1px rgba(0, 0, 255, .2);
		}
		.sidenav {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: -52px;
		  background-color: turquoise;
		  overflow-x: hidden;
		  transition: 0.5s;
		  padding-top: 60px;
		}

		.sidenav a {
		  padding: 8px 8px 8px 32px;
		  text-decoration: none;
		  font-size: 25px;
		  color: teal;
		  display: block;
		  transition: 0.3s;
		  margin-left: 30px;
		}

		.sidenav a:hover {
		  color: #f1f1f1;
		}

		.sidenav .closebtn {
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		  margin-left: 50px;
		}
	</style>
</head>
<body>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-2">
      	<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="/">Home</a>
			  <a href="/about">About</a>
			  <a href="/account">My Account</a>
			  <a href="#">Clients</a>
			  <a href="#">Contact</a>
			  <a href="/signout">Sign Out</a>
		  </div>
			<span style="font-size:30px;cursor:pointer" class="icon" onclick="openNav()">&#9776;</span>
      </div>
      <div class="col-md-10 col-sm-10 col-10">
        <h4 class="alert-heading">Welcome <%= data[1].name %> !!!</h4>
        <p class="bd-lead font-weight-lighter">My name is ____ ! I am happy to see you here. I am your Daily Planner. Plan Your Today's Events. &#128512;</p>
        <hr>
        <p class="mb-0">Your next deadline work is approaching sooner</p>
      </div>
  </div>
</div>
</div>

<div class="row alert-warning">
	<div class="col-md-3 col-sm-1 col-1"></div>
	<div class="col-md-6 col-sm-10 col-10 formopen">

		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		    Add Task
		</button>
		<br>
		<div class="collapse showform" id="collapseExample">
		  <div class="card card-body alert alert-info text-danger">
		    <div class="form">
		    	<form action="/add-task" method="POST">
		    		<div class="form-group">
					    <label for="newTask">New Task</label>
					    <input type="text" placeholder="Add Task Title" class="form-control td" id="newTask" name="taskname" required>
					</div>
					<div class="form-group">
					    <label for="aboutTask">Task Details</label>
					    <textarea class="form-control td" id="aboutTask" rows="4" placeholder="Add Task Details &#10;Example : Need to get the milk from nearby stores. ( or )&#10;&emsp;&emsp;&emsp;&emsp;&ensp;Complete the maths assignment" required
					    name="taskdisc"></textarea>
					</div>
					<div class="md-form md-outline">
					  <label for="default-picker">Pick Start Time</label>
					  <input type="time" id="default-picker" class="form-control td st" 
					  value='01:00' required name="timestart">
					  <input class="start_meridian" type="text" style="display:none;" 
					  name="start_meridian"></p>
					</div>
					<div class="md-form md-outline">
					  <label for="default-picker">Pick End Time</label>
					  <input type="time" id="default-picker" class="form-control td et" value='12:00' required name="timestop">
					  <input class="end_meridian" type="text" style="display:none;" name="end_meridian">
					</div><br>
					<div class="d-flex justify-content-around">
						<button type="button" class="btn btn-primary a">Add Task</button>
						<input type="button" class="btn btn-warning clear"
						value="Clear Everything">
					</div>
		    	</form>
		    </div>
		  </div>
		</div>
	</div>
    <div class="col-md-3 col-sm-1 col-1"></div>
</div>
<br >
<div class="row">
	<div class="col-md-1 col-sm-1 col-1"></div>
    <div class="col-md-10 col-sm-10 col-10">
    	<div class="row">
    		<% if(data[0].task_data.length>0){ %>
    		<% data[0].task_data.forEach(function(item){ %>
    		<div class="col-md-12 col-sm-12 col-10">
    			<div class="card" style="width: 100%;margin-top: 10px;
    			margin-bottom: 12px;">
				  <div class="card-body">
				    <h5 class="card-title"><%= item.taskname %></h5>
				    <h6 class="card-subtitle mb-2 text-muted"><%= item.timestart %> - <%= item.endtime %></h6>
				    <p class="card-text lead"><%= item.taskdisc %></p>
				    <div class="d-flex justify-content-left">
				    	<button type="button" class="btn btn-success rem"
				    	onclick='complete(<%- JSON.stringify(item.taskname) %>)'>
				    		<a class="comp">Completed</a></button>
				    	<button type="button" class="btn btn-danger rem" 
				    	onclick='reject(<%- JSON.stringify(item.taskname) %>)'>
				    		<a class="del">Delete</a></button>
				    </div>
				  </div>
				</div>
    		</div><br>
    		<% });}else{ %>
    		<div class="col-md-12 col-sm-12 col-12">
	    		<div class="card">
				  <div class="card-body">
				    Add your First Task of the day
				  </div>
				</div>
			</div>
			<% } %>
    	</div>
    </div>
    <div class="col-md-1 col-sm-1 col-1"></div>
</div>

<script>
	var user_data = <%- JSON.stringify(data) %>;
	var arr = []
	document.querySelector(".clear").addEventListener("click",function(){
		document.querySelectorAll(".td").forEach(function(item){
	  			item.value=""
		})
	})
	
	document.querySelector(".a").addEventListener("click",function(){
		var start_time = document.querySelector('.st').value;
		var end_time = document.querySelector(".et").value;

		if(user_data[1].user_details.clk_format_is_12){

			var hourEnd = start_time.indexOf(":");
			var H = +start_time.substr(0, hourEnd);
			var h = H % 12 || 12;
			var ampm = H < 12 ? "AM" : "PM";
			start_time = h + start_time.substr(hourEnd, 3) + " " +ampm;

			var hourEnd = end_time.indexOf(":");
			var H = +end_time.substr(0, hourEnd);
			var h = H % 12 || 12;
			var ampm = H < 12 ? "AM" : "PM";
			end_time = h + end_time.substr(hourEnd, 3) + " " +ampm;

			document.querySelector('.st').value = h + start_time.substr(hourEnd, 3);
			document.querySelector(".et").value = h + end_time.substr(hourEnd, 3);

			document.querySelector(".start_meridian").value = ampm;
			document.querySelector(".end_meridian").value = ampm;
		}else{
			document.querySelector(".start_meridian").value = "";
			document.querySelector(".end_meridian").value = "";
		}
		var error_log = []
			document.querySelectorAll(".td").forEach(function(item){
			    if(item.value==""){
			        error_log.push("form not completely filled")
			    }
			})
		if(error_log.length==0){
			document.querySelector(".a").type = "submit";
			document.querySelector(".a").form.submit()
		}
	});
	function complete(taskName){
		document.querySelector(".comp").href="/taskAccomplished/"+taskName;
	}
	function reject(taskName){
		document.querySelector(".del").href="/deleteTask/"+taskName;
	}
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}
	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>